languages/shared/features.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:simpleType name="provide">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="promote">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>

   <xs:complexType name="feature">
      <xs:choice>
         <!-- Free naming -->
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value">
               <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:choice>
      <xs:attribute name="id" type="xs:string"/>
   </xs:complexType>

   <xs:element name="features">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded">
            <xs:element name="feature" type="feature"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
