xml/grammar.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <!-- SHARED -->
   <xs:simpleType name="provide">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="require">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="before">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="after">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="global">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="context_def">
      <xs:all>
         <xs:element name="before" type="before" minOccurs="0"/>
         <xs:element name="after" type="after" minOccurs="0"/>
         <xs:element name="global" type="global" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="context_ref">
      <xs:attribute name="ref" type="xs:string"/>
   </xs:complexType>
   <!-- FEATURES -->
   <xs:complexType name="feature">
      <xs:choice>
         <!-- Free naming -->
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="value">
               <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:choice>
      <xs:attribute name="id" type="xs:string"/>
   </xs:complexType>
   <!-- PHONEMES -->
   <xs:simpleType name="ipa">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="phone">
      <xs:sequence>
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="context" type="context_ref"/>
         </xs:sequence>
         <xs:sequence maxOccurs="unbounded">
            <xs:element name="provide" type="provide"/>
         </xs:sequence>
         <xs:element name="ipa" type="ipa"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phoneme">
      <xs:choice>
         <!-- List of phones -->
         <xs:sequence maxOccurs="unbounded">
            <xs:element name="phone" type="phone"/>
         </xs:sequence>
         <!-- Only one realisation -->
         <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
               <xs:element name="provide" type="provide"/>
            </xs:sequence>
            <xs:element name="ipa" type="ipa"/>
         </xs:sequence>
      </xs:choice>
      <xs:attribute name="id" type="xs:string" use="required"/>
   </xs:complexType>
   <!-- SYLLABLES -->
   <xs:complexType name="syllable">
      <xs:sequence maxOccurs="unbounded">
         <xs:element name="require" type="require"/>
      </xs:sequence>
   </xs:complexType>
   <!-- LETTERS -->
   <xs:complexType name="complex">
      <xs:sequence>
         <xs:sequence maxOccurs="unbounded">
            <xs:element name="context" type="context_ref"/>
         </xs:sequence>
         <xs:element name="unicode" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pronunciation">
      <xs:sequence>
         <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="context" type="context_ref"/>
         </xs:sequence>
         <xs:sequence maxOccurs="unbounded">
            <xs:element name="require" type="xs:string"/>
         </xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="symbol">
      <xs:sequence>
         <xs:choice>
            <xs:sequence maxOccurs="unbounded">
               <xs:element name="complex" type="complex"/>
            </xs:sequence>
            <xs:sequence>
               <xs:element name="majuscule" type="xs:string"/>
               <xs:element name="minuscule" type="xs:string"/>
            </xs:sequence>
            <xs:element name="unicase" type="xs:string"/>
         </xs:choice>
         <xs:element minOccurs="0" maxOccurs="unbounded" name="pronunciation" type="pronunciation"/>
         <xs:element minOccurs="0" name="provide" type="provide"/>
      </xs:sequence>
   </xs:complexType>
   <!-- RULES -->
   <!-- FORMS -->
   <xs:complexType name="circumfix">
      <xs:sequence>
         <xs:element name="prefix" type="xs:string"/>
         <xs:element name="postfix" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discontinuous">
      <xs:sequence maxOccurs="unbounded">
         <xs:element name="item" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="morphtype">
      <xs:restriction base="xs:string">
         <xs:enumeration value="prefix"/>
         <xs:enumeration value="stem"/>
         <xs:enumeration value="suffix"/>
         <xs:enumeration value="postfix"/>
         <xs:enumeration value="circumfix"/>
         <xs:enumeration value="interfix"/>
         <xs:enumeration value="triliteral"/>
         <xs:enumeration value="transfix"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:group name="morphtype">
      <xs:choice>
         <!-- Particles, etc. -->
         <xs:element name="word" type="xs:string"/>
         <!-- Flective language support -->
         <xs:element name="prefix" type="xs:string"/>
         <xs:element name="stem" type="xs:string"/>
         <xs:element name="suffix" type="xs:string"/>
         <xs:element name="postfix" type="xs:string"/>
         <xs:element name="circumfix" type="circumfix"/>
         <xs:element name="interfix" type="xs:string"/>
         <!-- Semitic language support -->
         <xs:element name="triliteral" type="discontinuous"/>
         <xs:element name="transfix" type="discontinuous"/>
         <!-- TODO support duplifix, interfix, infix -->
      </xs:choice>
   </xs:group>
   <xs:complexType name="morpheme">
      <xs:sequence>
         <xs:choice>
            <xs:sequence>
               <xs:element name="context" type="context_ref" minOccurs="0" maxOccurs="unbounded"/>
               <xs:group ref="morphtype"/>
            </xs:sequence>
            <xs:element name="morph" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="context" type="context_ref" minOccurs="0" maxOccurs="unbounded"/>
                     <xs:group ref="morphtype"/>
                     <xs:element maxOccurs="unbounded" minOccurs="0" name="apply" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:element name="provide" type="provide" minOccurs="0"/>
         <xs:element name="promote" type="provide" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
   </xs:complexType>
   <!-- GRAMMAR -->
   <xs:element name="grammar">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="features">
               <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                     <xs:element name="feature" type="feature"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="contexts">
               <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                     <xs:element name="context" type="context_def"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="phonemes">
               <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                     <xs:element name="phoneme" type="phoneme"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="syllables">
               <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                     <xs:element name="syllable" type="syllable"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="symbols">
               <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                     <xs:element name="symbol" type="symbol"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="rules">
               <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                     <xs:element name="rule" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="morphemes">
               <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                     <xs:element name="morpheme" type="morpheme"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
